{% extends 'basic.html' %}

{% block title %} catagory view{% endblock %}

{% block head %} 


{% endblock %}

{% block body %} 



<div class="container">

    
    <div class="row mt-5">
        {% for i in products %}
        <div class="product-grid ">
        <div class="">
            
                <div class="product-image3">
                    
                    <a href="/shop/product/{{i.slug}}/{{i.id}}">
                        
                        <div class="imgdiv">
                         <img class=" imgdiv2 imgdivpr{{i.id}}" src={{i.image}}>
                       
                        </div>
                    </a>
                    <ul class="social">
                        <li>
                            <span id="divpr{{i.id}}" class="divpr">
                               <a href="/shop/cart"><i id="pr{{i.id}}" class="fa fa-shopping-bag cart"></i></a>
                              </span>
                           </li>
                           <li>
                               <span id="divpr{{i.id}}" class="divpr">
                               <a href=""><i id="pr{{i.id}}" class="fa fa-shopping-cart cart"></i></a>
                              </span>
                           </li>
                    </ul>
                    <!-- <span class="product-new-label">New</span> -->
                </div>
                <div class="product-content">
                    <p hidden id="catagorypr{{i.id}}">{{i.category}}</p>
                    <p>{{ i.subCatagory }}</p>
                    <h3 class="title" id="namepr{{i.id}}">{{i.productName|slice:"0:20"}}...</h3>
                    <div class="price"  >
                        <span id="pricepr{{i.id}}"> &#8377 {{i.price}}</span>
                        <span class="oldPrice">&#8377 {{ i.oldPrice }}</span>
                    </div>
                    
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<hr>


{% endblock %}

{% block js %} 
<script>
  
    if(localStorage.getItem('cart')==null){
     var cart = {};
   }
   else
   {
     cart =JSON.parse(localStorage.getItem('cart'))
     updateCart(cart);
   }  
   
   $('.cart').click(function(){
     
     var idstr = this.id.toString();
     if (cart[idstr] != undefined) {
         qty = cart[idstr][0] + 1;
       
        
         
     } else {
        
         qty = 1;
         
         name = document.getElementById('name'+idstr).innerHTML;          
         
         currency = document.getElementById('price'+idstr).innerHTML;
         price =Number(currency.replace(/[^0-9.-]+/g,""));
        
         
         image = $('.imgdiv'+idstr).attr('src');
        
         catagory = document.getElementById('catagory'+idstr).innerHTML;
        
         cart[idstr] = [qty, name, parseInt(price), image, catagory ];
        
     }
     updateCart(cart);
      });
 
 
  
     function updateCart(cart) {
 
     localStorage.setItem('cart', JSON.stringify(cart));
   
     console.log(cart);
   
 }
   </script>

{% endblock %}

