{% extends 'basic.html' %}
{% block css %}
<style>


</style>
{% endblock %}

{% block body %}
{% load static %}

{% for product, range, nSlides in allProds %}


<h5 style="font-family: 'Noto Sans JP', sans-serif; font-size: 22px;" class="my-4 ml-3  ">{{product.0.category}} </h5>
<div id="demo{{forloop.counter}}" class="carousel slide my-3" data-ride="carousel">
  <div class="carousel-inner ">
    <a class="carousel-control-prev mr-9 " href="#demo{{forloop.counter}}" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo{{forloop.counter}}" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
    <div class="carousel-item active">
      {% for i in product %}
      <div class="col-xs-3 col-sm-3 col-md-3 col-xl-2">
        <div class="dj-slide ">
          <a href="/shop/product/{{i.id}}">
            <div class="cont">
              <div class="imgdiv">
                <img class="imgdiv2" src="/media/{{i.image}}" alt="...">
              </div>
          </a>
          <div style="font-family: 'Muli', sans-serif;" class="prodName">{{i.productName|slice:"0:35"}}...</div>
          <div class="off">50% off</div>
        </div>
      </div>
    </div>
    {% if forloop.counter|divisibleby:6 and forloop.counter > 0 and not forloop.last %}
  
  <div class="carousel-item">
    {% endif %}

    {% endfor %}
  </div>
 </div>
</div>

{% endfor %}




{% endblock %}

{% block js %}

{% endblock %}