{% extends 'basic.html' %}
{% block title%} My Awesome Cart Tracker{% endblock %}
{% block body %}
<div class="container">
    
    <div class="col my-4">

        
        {% if response.RESPCODE == '01' %}
 
       
        <div class="container text-center ">
          <div class=" bg-white rounded shadow ">
             <div class="green_gradient2 animated zoomIn  p-5" >
                 <p class="display-3 p-2 animated " style="font-size: 50px;">Order Successful </p>
             </div>
              
                <h3 style="font-family: 'Open Sans', sans-serif;" class="pt-5">Thank You </h3>
                <h3 style="font-family: 'Open Sans', sans-serif;" class="pb-5">for shopping with us !</h3>
                
                <p > Amount : <strong style="font-family: 'Public Sans', sans-serif;">  {{response.TXNAMOUNT}}</strong>  </p>
                <p > Date : <strong style="font-family: 'Public Sans', sans-serif;"> {{response.TXNDATE}}</strong> </p>
                <p > Transaction ID : <strong style="font-family: 'Public Sans', sans-serif;"> {{response.TXNID}}</strong> </p>
                <p > Order ID : <strong style="font-family: 'Public Sans', sans-serif;"> {{response.ORDERID}}</strong>   (Use this Order ID to track your order) </p>
              
                <hr>
                <p style="font-family: 'Open Sans', sans-serif;" >
                Having trouble ? <a href="/shop/contact">Contact us</a>
                </p>
                
                <p class=" pb-5">
                <a  href="/shop/"><button type="button" 
                style="font-family: 'PT Sans', sans-serif;font-size: 20px;" 
                 class="btn blue_gradient2 text-white px-2 ">Keep Shopping</button></a></a>
              
                </p>
            </div>
        </div>
        
       
       

        {% else %}
        <div class="container text-center ">
            <div class=" bg-white rounded shadow mb-5">
               <div class="red_gradient  p-5" >
                   <h2 class="display-3">Order Failed</h2> 
                </div>
                <h3 class="p-5">Please try again...</h3>

            </div>
            </div>
        {% endif%}

    </div>

</div>
{% endblock %}

{% block js %}
<script>
{% if response.RESPCODE == '01' %}
  localStorage.clear(); 
{% endif %}
</script>
{% endblock %}
