{% extends 'basic.html' %}

{% block title%} {{prodView.productName}}{% endblock %}
{% block css %} 
 <style>
   
</style>
{% endblock %}


{% block body %} 
<div class="container">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/shop/">Home</a></li>
          <li class="breadcrumb-item"><a href="/shop/">Shop</a></li>
          <li class="breadcrumb-item active" aria-current="page">Product Page</li>
        </ol>
      </nav>

    <!-- Portfolio Item Heading -->
    <h2 style="font-family: 'Muli', sans-serif;" class="my-4" id="namepr{{i}}">{{prodView.productName}}
      
    </h2>
  
    <!-- Portfolio Item Row -->
    <div class="row d-flex flex-column flex-sm-row">
      <div class="col-12 col-sm-12 col-md-5 ">
          <img id="imagepr{{i}}" class="imgdiv2" src={{prodView.image}} alt="">
    </div>
  
      <div class="col-12 col-sm-12 col-md-7 ">
        <div class="col-md-12 mb-4">

          <!--Content-->
          <div class="p-4">

            <div style="font-family: 'Josefin Sans', sans-serif; font-size: 16px;" class="mb-3">
              <a href="">
                <span id="catagorypr{{i}}" class="badge orange_gradient badge-warning">{{prodView.category}}</span>
              </a>
              <a href="">
                <span class="badge blue_gradient1 badge-primary">New</span>
              </a>
              <a href="">
                <span class="badge red_gradient3 badge-danger">Bestseller</span>
              </a>
            </div>

            <p class="lead font-weight-normal" >
              
              <span style="font-family: 'PT Sans', sans-serif; font-size: 28px; ">Rs. <span id="pricepr{{i}}">{{prodView.price}}</span></span>
            </p>

            <p style="font-family: 'Montserrat', sans-serif;font-size: 22px;" class="lead font-weight-bold">Description</p>

            <p style="font-family: 'Source Sans Pro', sans-serif;" class="font-weight-light">{{prodView.desc}}</p>



            <h3 style="font-family: 'Montserrat', sans-serif;font-size: 22px;" class="my-4 mt-5 lead font-weight-bold" >Product Details</h3>
            <ul style="font-family: 'Source Sans Pro', sans-serif;">
              <li>Lorem Ipsum</li>
              <li>Dolor Sit Amet</li>
              <li>Consectetur</li>
              <li>Adipiscing Elit</li>
            </ul>
          </div>
          <!--Content-->

        </div></div>
  
    </div>
    <form style="justify-content: center;" class="d-flex .flex-row   col-md-5">
      <!-- Default input -->
    <div style="align:center;font-family: 'PT Sans', sans-serif;font-size: 22px;">
      
        <span id="divpr{{i}}" class="divpr ">
          <a href="/shop/cart"> 
            <button type="button" id="pr{{i}}"  
            class="btn btn-danger  red_gradient3 btn-lg cart">Buy Now
          </button>
          </a>
        </span>
      
        <span id="divpr{{i}}" class="divpr">
           <a href="">
            <button type="button" id="pr{{i}}" 
            class="btn btn-primary btn-lg  blue_gradient1 cart">Add to Cart
            </button>
          </a>
       </span>
    </div>
  </form>
    <!-- /.row -->
  
    <!-- Related Projects Row -->
    
  
    <section class="product show">
      <div class="container mt-5 ">
      <div class="heading  " style="  font-family: 'Josefin Sans', 'sans-serif';">
          <h2 class="font-weight-bold" >RELATED <span class="theme-color">PRODUCTS</span></h2>
      </div>
  
          <div class="row owl-carousel owl-theme" id="owl-demo4">
  
              {% for item in relatedProd %}
              <div class="product-grid lg-mx-2  ">
                      <div class="product-image3">
                       
                          <a href="/shop/product/{{item.slug}}/{{item.id}}">
                              
                              <div  class="imgdiv">
                              <img class="imgdiv2 imgdivpr{{item.id}}"    src={{item.image}}>
                             
                              </div>
                          </a>
                          <ul class="social">
                              <li>
                               <span id="divpr{{item.id}}" class="divpr">
                                  <a href="/shop/cart"><i id="pr{{item.id}}" class="fa fa-shopping-bag cart"></i></a>
                                 </span>
                              </li>
                              <li>
                                  <span id="divpr{{item.id}}" class="divpr">
                                  <a href=""><i id="pr{{item.id}}" class="fa fa-shopping-cart cart"></i></a>
                                 </span>
                              </li>
                          </ul>
                      
                      </div>
                      <div class="product-content">
                        <p hidden id="catagorypr{{item.id}}">{{item.category}}</p>
                        <p>{{ item.subCatagory }}</p>  
                        <h3 id="namepr{{item.id}}" class="title">{{item.productName|slice:"0:20"}}...</h3>
                          <div class="price">
                            <span id="pricepr{{item.id}}"> &#8377 {{item.price}}</span>
                            <span class="oldPrice">&#8377 {{ item.oldPrice }}</span>
                              
                          </div>
                          
                          
                      </div>
              </div>   
              {% endfor %}
          </div>
      </div> 
  </section>
    <!-- /.row -->
  
  </div>
  <!-- /.container -->

{% endblock %}
{% block js %}

<script>
  
   if(localStorage.getItem('cart')==null){
    var cart = {};
  }
  else
  {
    cart =JSON.parse(localStorage.getItem('cart'))
    updateCart(cart);
  }  
  
  $('.cart').click(function(){
    
    var idstr = this.id.toString();

    if (cart[idstr] != undefined) {
        qty = cart[idstr][0] + 1;
       
        
    } else {
       
      qty = 1;
     
         name = document.getElementById('name'+idstr).innerHTML;          
         
         currency = document.getElementById('price'+idstr).innerHTML;
         price =Number(currency.replace(/[^0-9.-]+/g,""));
       
    
         image = $('.imgdiv'+idstr).attr('src');
       
         catagory = document.getElementById('catagory'+idstr).innerHTML;
      
         cart[idstr] = [qty, name, parseInt(price), image, catagory ];
         
    }
    updateCart(cart);
     });


     $('#owl-demo4').owlCarousel({
        loop:true,
        margin:10,
        nav:true,
        dots:true,
        navText: [$('.am-next'),$('.am-prev')],
        autoplayHoverPause: true,
        responsive:{
            0:{
                items:1
            },
            600:{
                items:3
            },
            1000:{
                items:5
            }
        }
    })

    function updateCart(cart) {

    localStorage.setItem('cart', JSON.stringify(cart));
  
    console.log(cart);
  
}
  </script>
    <script></script>
{% endblock %}