{% extends "account/base.html" %} 
{% load i18n %}
{% load account socialaccount %} 

{% block title %} {% trans "Log In" %} {% endblock %}

{% block body %}
<main>
<div class="container mt-3 py-5 contact-form ">
      <section class="mt-5 bg-white rounded shadow">
        <div class=" fadeIn">
          <div class="text-center">
          <form class="login" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}

                <h3 class="mb-5">{% trans "Log In" %}</h3>

          {% get_providers as socialaccount_providers %}

          {% if socialaccount_providers %}
          <p >{% blocktrans with site.name as site_name %}Please log in with one
          of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
          for a {{ site_name }} account and log in below:{% endblocktrans %}</p>

          <div class="socialaccount_ballot">

            <ul class="socialaccount_providers">
              {% include "socialaccount/snippets/provider_list.html" with process="login" %}
            </ul>

            <div class="login-or">{% trans 'or' %}</div>

          </div>

          {% include "socialaccount/snippets/login_extra.html" %}

          {% else %}
          <p class="mx-3">{% blocktrans %}If you have not created an account yet, then please
          <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
          {% endif %}
           
          {% for err in form.non_field_errors %}
             <div  style="color: red;font-weight: bold;margin-bottom: 20px;"> {{ err }}</div>
          {% endfor %}
          
         <div class="form-group">
          <input type="text" class="form-control" id="id_login" name='login' placeholder="Username" autofocus="autofocus" required>
         </div>
         <div class="form-group">
            <input type="password" class="form-control" id="id_password" name='password' placeholder="Password" required>
         </div> 

        <p><label for="id_remember">Remember Me:</label> <input type="checkbox" name="remember" id="id_remember"></p>
            {% if redirect_field_value %}
            
            <div class="form-group">
            <input type="hidden" class="form-control" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
           </div>
            {% endif %}
            <a class="btn btn-default" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
            <button   type="submit" style="font-family: 'PT Sans', sans-serif;font-size: 20px;" class="btn green_gradient2 text-white px-5 " >{% trans "Log In" %}</button>
          </form>
          </div>
        </div>
      </section>
    </div>
</main>

{% endblock %}
