{% extends "account/base.html" %}

{% load i18n %}
{% block title %}{% trans "Change Password" %}{% endblock %}

{% block body %}
<div class="container contact-form py-5">
      <section class="bg-white rounded shadow ">
 <div class="text-center ">

             <div class="green_gradient2  p-5" >
                 <p class="display-3 p-2 animated " style="font-size: 50px;">{% trans 'Your password is changed.' %}</p>
             </div>


      </div>
      </section>
      </div>
   
{% endblock %}
