{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block title %}{% trans "Password Reset" %}{% endblock %}

{% block body %}
<main>
<div class="container contact-form ">
      <section class="bg-white rounded shadow">
        <div class="fadeIn">
          <div class='text-center'>
          <form >
    <h3 class="mb-5">{% trans "Password Reset" %}</h3>
    
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <p>{% blocktrans %}We have sent you an e-mail. Please <a href="/shop/contact/"> contact us </a> if you do not receive it within a few minutes.{% endblocktrans %}</p>
    
    </form>
     </div>
      </div>
    </section>
  </div>
</main>
{% endblock %}
