<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Google font -->
    <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap&subset=latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli:500|PT+Sans:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amita&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    
  
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">    
    <script type="text/javascript"> (function() { var css = document.createElement('link'); css.href = 'https://use.fontawesome.com/releases/v5.1.0/css/all.css'; css.rel = 'stylesheet'; css.type = 'text/css'; document.getElementsByTagName('head')[0].appendChild(css); })(); </script>
    <title>{% block title%} {% endblock %}</title>
    {% block head %} 
    {% endblock %}
    <style>
      .navbar-aqua{
        background-color: aqua;
      }
    </style>
    {% block css %} 
    <style>
    </style>
    {% endblock %}
     
  </head>

  <body>

  <nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
  <a style="font-family: 'Sofia'; font-size: 22px;" class="navbar-brand" href="/shop/">ShopperSpace</a>
  <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul style="font-family: 'Amita', cursive;" class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link" href="/shop/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/shop/tracker">Tracker</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/shop/contact">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/shop/about">About</a>
        </li>
        <li class="nav-item"></li>
          
        <a class="nav-link nav-item" href="/shop/cart"><a class="nav-link" href="/shop/cart">
         
          <i class="fas fa-shopping-cart"></i>
          <span class="badge badge-danger "><span id="totalItem"></span></span>
        </a>
      
      
    </ul>
    <form method='get' action='/shop/search/' style="font-family: 'Amita', cursive;" class="form-inline my-2 my-lg-0">
      <input name="search" id="search" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
    </form>
    
 
  </div>
</nav>
  {% block body %} {% endblock %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
    src="https://code.jquery.com/jquery-3.4.1.js"
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <!-- font awwsome -->
    <script src="https://kit.fontawesome.com/396aec51e6.js" crossorigin="anonymous"></script>
    <script>
    if (localStorage.getItem('cart') == null) {
    var cart = {};
    } else {
    cart = JSON.parse(localStorage.getItem('cart'));
    }
    
  
    var totalItem =  Object.keys(cart).length;
    document.getElementById('totalItem').innerHTML = totalItem;
    </script>

    {% block js %} {% endblock %}
  </body>
</html>
