{% extends 'shop/basic.html' %}

{% block title%}Home{% endblock %}



{% block body %}


<div id="carouselExampleControls " class="carousel slide carousel-fade" data-ride="carousel">
 
    
    <div class="carousel-inner " style="  font-family: 'Josefin Sans', 'sans-serif'; ">

        <div id="1i" class="carousel-item active  " >
            <img  src="/media/shop/images/carousel/bg-2.jpg" alt="First slide">
            <div class="container col-xl-6 col-lg-6 col-md-6 col-xs-6 pd-5 d-flex justify-content-center carousel-caption d-none d-md-block">
              
                <h1 class=" font-weight-bold mb-3" >GET A NEW LOOK</h1>
                <p >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum sus-pendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
             </div>
        </div>     
        <div id="2i" class="carousel-item  ">
            <img class="d-block w-100 img-responsive " src="/media/shop/images/carousel/Air-jordan.jpg" alt="Second slide">
            <div class="container col-xl-6 col-lg-6 col-xs-6 col-md-6 pd-5 d-flex justify-content-center carousel-caption d-none d-md-block">
              
                <h1 class=" font-weight-bold mb-3 " >WALK WITH STYLE</h1>
                <p >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum sus-pendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
             </div>       
        </div>
        <div id="3i" class="carousel-item Right ">
            <img class="d-block w-100 img-responsive" src="/media/shop/images/carousel/audioquest.jpg" alt="Third slide">
            <div class="container col-xl-6 col-lg-6 col-xs-6 col-md-6 pd-5 d-flex justify-content-center carousel-caption d-none d-md-block">
              
                <h1 class=" font-weight-bold mb-3" >FEEL THE BEATS</h1>
                <p >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum sus-pendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
             </div>
        </div>
    </div>
     <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>

</div>

<section class="features-section  shadow  ">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 p-0 feature animated slideInLeft">
                <div class="feature-inner">
                    <div class="feature-icon">
                        <img src="/media/shop/images/img/1.png" alt="#">
                    </div>
                    <h5 class="feature-text">Fast Secure Payments</h5>
                </div>
            </div>
            <div class="col-md-4 p-0 feature animated fadeIn">
                <div class="feature-inner">
                    <div class="feature-icon">
                        <img src="/media/shop/images/img/2.png" alt="#">
                    </div>
                    <h5>Premium Products</h5>
                </div>
            </div>
            <div class="col-md-4 p-0 feature animated slideInRight">
                <div class="feature-inner">
                    <div class="feature-icon">
                        <img src="/media/shop/images/img/3.png" alt="#">
                    </div>
                    <h5>Free & fast Delivery</h5>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="row catagories-slider owl-carousel mt-5" id="owl-1">
    <div class="col-lg-4">
        <div class="single-catagory-item set-bg" style="background-image: url(/media/shop/images/catagories/catagories-1.jpg);">
            <div class="si-text">
                <h4>Head Phone</h4>
                
            </div>
        </div>
        <div class="single-catagory-item set-bg" style="background-image: url(/media/shop/images/catagories/catagories-4.jpg);">
            <div class="si-text">
                <h4>Shoes</h4>
                
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="single-catagory-item set-bg" style="background-image: url(/media/shop/images/catagories/catagories-2.jpg);">
            <div class="si-text">
                <h4>Smart Phone</h4>
                
            </div>
        </div>
        <div class="single-catagory-item set-bg" style="background-image: url(/media/shop/images/catagories/catagories-5.jpg);">
            <div class="si-text">
                <h4>Cap</h4>
                
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="single-catagory-item set-bg" style="background-image: url(/media/shop/images/catagories/catagories-3.jpg);">
            <div class="si-text">
                <h4>Laptop</h4>
                
            </div>
        </div>
        <div class="single-catagory-item set-bg" style="background-image: url(/media/shop/images/catagories/catagories-6.jpg);">
            <div class="si-text">
                <h4>Clothes</h4>
                
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="single-catagory-item set-bg" style="background-image: url(/media/shop/images/catagories/catagories-7.jpg);">
            <div class="si-text">
                <h4>Home Decors</h4>
               
            </div>
        </div>
        <div class="single-catagory-item set-bg" style="background-image: url(/media/shop/images/catagories/catagories-8.jpg);">
            <div class="si-text">
                <h4>Wrist Watch</h4>
                
            </div>
        </div>
    </div>
</div>


<section class="product show">
    <div class="container mt-5 ">
    <div class="heading  " style="  font-family: 'Josefin Sans', 'sans-serif';">
        <h2 class="font-weight-bold" >BROWSE TOP  SELLING <span class="theme-color">PRODUCTS</span></h2>
    </div>

        <div class="row owl-carousel owl-theme" id="owl-demo3">

            {% for i in trendProducts %}
            <div class="product-grid lg-mx-2  ">
                    <div class="product-image3">
                        
                        <a href="/shop/product/{{i.id}}">
                            
                            <div class="imgdiv">
                            <img id="imagepr{{i.id}}" class=" imgdiv2" src="/media/{{i.image}}">
                           
                            </div>
                        </a>
                        <ul class="social">
                            <li>
                             <span id="divpr{{i.id}}" class="divpr">
                                <a href="/shop/cart"><i id="pr{{i.id}}" class="fa fa-shopping-bag cart"></i></a>
                               </span>
                            </li>
                            <li>
                                <span id="divpr{{i.id}}" class="divpr">
                                <a href=""><i id="pr{{i.id}}" class="fa fa-shopping-cart cart"></i></a>
                               </span>
                            </li>
                        </ul>
                    
                    </div>
                    <div class="product-content">
                        <h3 id="namepr{{i.id}}" class="title">{{i.productName|slice:"0:20"}}...</h3>
                        <div class="price" id="pricepr{{i.id}}"> {{i.price}}
                            
                        </div>
                        <span type="hidden" id="catagorypr{{i.id}}" >{{prodView.category}}</span>
                        
                    </div>
            </div>   
            {% endfor %}
        </div>
    </div> 
</section>

<section class="offer mt-5" id="parallax-1" 
data-anchor-target="#parallax-1" 
data-300-top="background-position: 20px 30px" 
data-top-bottom="background-position: 0 20px">

    <div class="container">
      <div class="row">
        <div class="col-xl-5">
          <div class="offer__content text-center">
            <h3>Up To 50% Off</h3>
            <h4>Winter Sale</h4>
            <p>Him she'd let them sixth saw light</p>
            <a  href="#"><button type="button" 
                 class="btn  mt-3 mt-xl-4 green_gradient3 btn-md cart">Shop Now</button></a></a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="product show">
    <div class="container mt-5 ">
    <div class="heading  " style="  font-family: 'Josefin Sans', 'sans-serif';">
        <h2 class="font-weight-bold" >NEW <span class="theme-color">ARIVALS</span></h2>
    </div>

        <div class="row owl-carousel owl-theme" id="owl-demo2">

            {% for i in newProducts %}
            <div class="product-grid lg-mx-2  ">
                    <div class="product-image3">
                        
                        <a href="/shop/product/{{i.id}}">
                            
                            <div class="imgdiv">
                            <img class=" imgdiv2" src="/media/{{i.image}}">
                           
                            </div>
                        </a>
                        <ul class="social">
                            <li><a href="/shop/cart"><i class="fa fa-shopping-bag"></i></a></li>
                            <li><a href=""><i class="fa fa-shopping-cart"></i></a></li>
                        </ul>
                        <!-- <span class="product-new-label">New</span> -->
                    </div>
                    <div class="product-content">
                        <h3 class="title"><a href="#">{{i.productName|slice:"0:20"}}...</a></h3>
                        <div class="price">
                            {{i.price}}
                            <span>$75.00</span>
                        </div>
                        
                    </div>
            </div>   
            {% endfor %}
        </div>
    </div> 
</section>

<div class="newsletter mb-5 mt-5">
    <div class="row">
        <div class="newsletter_image" style="background-image:url(/media/shop/images/img/subscribe.jpg)">
         <div class="newsletter-layer" > 
          
            <div class="container">
				<div class="row">
					<div class="col mt-5">
						<div class="section_title_container text-center">
							<div class="section_subtitle">only the best</div>
							<div class="section_title mt-3 animated fadeIn infinite ">subscribe for a 20% discount</div>
						</div>
					</div>
				</div>
				<div class="row newsletter_container">
					<div class="col-lg-10 offset-lg-1">
						<div class="newsletter_form_container">
                            <form method="post" action="#" id="trackerForm">{% csrf_token %}
                                <div class="form-row mx-auto w-100 p-3">
                                    <div class="form-group  input-group mb-4 ">
                                        <input  type="text" class="form-control" id="orderId" name=" orderId" 
                                        placeholder="E-mail"/>
                                        <button type="submit" style="font-family: 'PT Sans', sans-serif;font-size: 15px;"
                                           class="btn btn-primary  font-weight-bold ">Subscribe</button>
                                    </div>            
                                </div>
                            </form> 
						</div>
						<div class="newsletter_text pb-5">Integer ut imperdiet erat. Quisque ultricies lectus tellus, eu tristique magna pharetra nec. Fusce vel lorem libero. Integer ex mi, facilisis sed nisi ut, vestib ulum ultrices nulla. Aliquam egestas tempor leo.</div>
					</div>
				</div>
			</div>
          
        </div>
    </div>
         </div>    
 </div>
</div>
  

<!-- end subscribe -->

{% endblock %}



{% block js %}

<script>

$(document).ready(function() {

    $('#owl-1').owlCarousel({
        loop:true,
        margin:10,
        nav:true,
        dots:true,
        autoplay:true,
        
        autoplayTimeout:3000,
        autoplayHoverPause: true,
        responsive:{
            0:{
                items:1
            },
            600:{
                items:3
            },
            1000:{
                items:5
            }
        }
    });

    $('#owl-demo').owlCarousel({
        loop:true,
        margin:10,
        nav:true,
        dots:true,
        navText: [$('.am-next'),$('.am-prev')],
        autoplayHoverPause: true,
        responsive:{
            0:{
                items:1
            },
            600:{
                items:3
            },
            1000:{
                items:5
            }
        }
    })

 
  
  $('#owl-demo2').owlCarousel({
        loop:true,
        margin:10,
        nav:true,
        dots:true,
        navText: [$('.am-next'),$('.am-prev')],
        autoplayHoverPause: true,
        responsive:{
            0:{
                items:1
            },
            600:{
                items:3
            },
            1000:{
                items:5
            }
        }
    })


  $('#owl-demo3').owlCarousel({
        loop:true,
        margin:10,
        nav:true,
        dots:true,
        navText: [$('.am-next'),$('.am-prev')],
        autoplayHoverPause: true,
        responsive:{
            0:{
                items:1
            },
            600:{
                items:3
            },
            1000:{
                items:5
            }
        }
    })


//     const par = document.getElementsByclassName("newsletter_image");
//     window.addEventListener("scroll", function()
//     {
//         let offset = window.pageYOffset;
//         par.style.backgroundPositionY= offset * 0.7 + 'px'
//     })


//     function doAnimation(id, animName, duration, delay)
//     {
//     var el = document.getElementsByclassName(id);
//     var timer;
//     function addclass() {
//         el.classList.add(animName);
//     }
//     function removeclass() {
//         el.classList.remove(animName);
//     }
//     setInterval(function () {
//         clearTimeout(timer);
//         addclass();
//         timer = setTimeout(removeclass, duration);
//     }, duration + delay);
//    }
//    doAnimation('section_title', 'fadeIn', 1000, 4000);


console.log('working')
  if(localStorage.getItem('cart')==null){
    var cart = {};
  }
  else
  {
    cart =JSON.parse(localStorage.getItem('cart'))
    updateCart(cart);
  }  
  
  $('.cart').click(function(){
    var idstr = this.id.toString();

    if (cart[idstr] != undefined) {
        qty = cart[idstr][0] + 1;
       
        
    } else {
        
        qty = 1;
        name = document.getElementById('name'+idstr).innerHTML;
        price = document.getElementById('price'+idstr).innerHTML;
        image = document.getElementById('image'+idstr).getAttribute("src");
        console.log(image);
        catagory = document.getElementById('catagory'+idstr).innerHTML;
        cart[idstr] = [qty, name, parseInt(price), image, catagory ];
    }
    updateCart(cart);
     });



    function updateCart(cart) {

    localStorage.setItem('cart', JSON.stringify(cart));
  
    console.log(cart);
  
}



});
   
</script>

{% endblock %}